<body>
<div class="hoge">
<%= link_to "ログイン",login_path , style: "color:black;" , class: 'cp_btn' %>
<br>
<%= link_to "新規登録",login_path , style: "color:black;" , class: 'cp_btn' %>
<br>
<button class="cp_button14"><%= link_to "マイページへ", profile_path,style: "color:white;"  %></button><br>
</div>
<div class="container">
	<span class="ball"></span>
	<span class="shadow"></span>
</div>
</body>

