<% content_for(:title, '遊び方') %>
<div class="setumei" >
<h1>プロ野球ファン対抗ペナントレースとは？</h1>
<h4>
プロ野球のスコアを予想し、にわかではなく本当の野球好きが集まる球団はどこなのか可視化できるアプリです。<br>

みなさんには、先発投手や直近の試合結果を用い試合を分析し、スコアを予想していただきます。<br>

「自分の推し球団だから勝つ」という様な、単純な予想をするのではなく、みなさんの知識をフル活用し冷静に試合結果を予想してください。<br>

その中で、本当の野球好き、試合結果を客観的に分析出来るファンが多く集まる、「ファンの質No.1の球団」というのを決めます。<br>
それをポイント制にし、球団別ランキングとして本当のペナントレースの様に、順位を出します。<br>

みなさんの知識を駆使し、 推し球団を「ファンの質No.1の球団」に導きましょう！<br>

他にも、 個人累計ポイントランキング、推し球団内ランキング、などもありますので「野球予想王」を目指して頑張ってください！</h4><br><br>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">予想登録方法</h2>
    <p class="card-text">試合一覧ページに本日行われる試合が表示されています。</p><br><br>
    <p class="card-text">予想する試合の”予想する”を押すと予想登録ページに飛びます。</p><br><br>
    <p class="card-text">予想登録ページには予告先発、予想平均点が表示されていますので
    そちらも参考にしてください。</p><br><br>
    <p class="card-text">予想登録ページでその試合の予想点数を入れ”予想”を押すと<br>
    予想登録が完了します（１試合につき一度予想ができます。）</p><br><br>
    <p class="card-text">予想締め切り時刻は試合開始時間ですので遅れずに予想してください。</p><br><br>
    <p class="card-text">自分の予想履歴を見たい時はマイページに飛び、
    予想履歴から確認、編集ができます。</p><br><br>
  </div>
</div>
<br><br> 
<div class="card">
<div class="card-body">
  <h2 class="card-title">その他の機能</h2>
    <p class="card-text">予想一覧ページでは全ユーザーの予想を表示しています。<br>
     左にある球団検索で試合を検索することができます。</p><br><br>
    <p class="card-text">ユーザー一覧ページでは全ユーザーを表示しています。</br>
     左にある球団検索で試合を検索することができます。</p><br><br>
    <p class="card-text">マイページではユーザー編集（ユーザー画像や球団の変更）や
     自分の予想履歴を見ることができます。</p><br><br>
     <p class="card-text">ランキング機能では個人累計ポイントランキング、<br>
     推し球団内ランキング、球団ポイント表があります。</p><br><br>
     <p class="card-text">ミーティングルームではユーザー同士チャットが出来るのでなんでも話して下さい！</p><br><br>
     <p class="card-text">ポイントの付与は例外を除き午後23時頃に行い、試合の更新は午前８時頃に行います。</p><br><br>
     <h3>その他、ご質問やご要望等御座いましたら各ページの下にあるお問い合わせから
     お知らせください</h3>

</div>
</div>

</div>