<div id="footer">
  <ul>
    <li><%= link_to 'Home' ,root_path %></li>
    <li><%= link_to '利用規約',page_path('terms') %></li>
    <li><%= link_to '遊び方',page_path('plays') %></li>
    <li><%= link_to 'お問い合わせ',contact_path %></li>
  </ul>
</div>