<div class="cp_fullscreenmenu">
<input type="checkbox" id="menuToggle" />

<label for="menuToggle" class="hamburger">
<div class="open"></div>
</label>

<div class="menu menuEffects">
<label for="menuToggle"></label>
<div class="menucont">
	<ul>
		<li><%= link_to '予想ページ' %></li>
		<li><%= link_to 'ユーザー一覧',users_path %></li>
		<li><%= link_to 'マイページ',profile_path(@user) %></li>
		<li><%= link_to 'ログアウト', logout_path,  method: :delete %></li>
	</ul>
</div>
</div>
</div>
