<div class="cp_fullscreenmenu">
<input type="checkbox" id="menuToggle" />

<label for="menuToggle" class="hamburger">
<div class="open"></div>
</label>

<div class="menu menuEffects">
<label for="menuToggle"></label>
<div class="menucont">
	<ul>
		<li><%= link_to 'Login' %></li>
		<li><a href="#">Signup</a></li>
		<li><a href="#"></a>Policy</li>
		<li><a href="#"></a>Contact</li>
	</ul>
</div>
</div>
</div>
