<% content_for(:title, '遊び方') %>
<div class="setumei" >
<h1>プロ野球ファン対抗ペナントレースとは？</h1>
<p>プロ野球のスコアを予想して野球を見る目があるファンは誰か可視化できるアプリです<br>
    個人累計ポイントランキング、推し球団内ランキング、そして球団ポイント表もあるので
    時にはファン同士戦い、時には仲間同士協力し合い、<br>個人ランキング上位そして
    推し球団を一番野球を知っているファンの球団に導きましょう！</p>
    <h1>遊び方</h1>
   <h3>予想登録方法</h3>
  <li>試合一覧ページに本日行われる試合が表示されています。</li><br>
     <li>予想する試合の”予想する”を押すと予想登録ページに飛びます。</li><br>

     <li>予想登録ページでその試合の予想点数を入れ”予想”を押すと<br>
     予想登録が完了します（１試合につき一度予想ができます。）<br>
     ※予想締め切り時刻は試合開始時間ですので遅れずに予想してください。</li><br>
    
     <li>自分の予想履歴を見たい時はマイページに飛び、
     予想履歴から確認、編集ができます。</li><br>
     
     <h3>その他の機能</h3>
     <li>予想一覧ページでは全ユーザーの予想を表示しています。<br>
     左にある球団検索で試合を検索することができます。</li><br>
     <li>ユーザー一覧ページでは全ユーザーを表示しています。</br>
     左にある球団検索で試合を検索することができます。</li><br>
     <li>マイページではユーザー編集（ユーザー画像や球団の変更）や
     自分の予想履歴を見ることができます。</li>
     <li>ランキング機能では個人累計ポイントランキング、<br>
     推し球団内ランキング、球団ポイント表があります。<br>
     ポイントの付与は例外を除き午前０時前に行います。</li>


</div>