<font color="yellow">
<table class="table">
    <div class="text-center">
    <thead>
    <tr>
    <th scope="col">対戦</th>
    <th scope="col">試合開始時間</th>
    <th scope="col">スタジアム</th>
  </tr>
</thead>
<tbody>
    <tr>
     
       <% @games.each do |g| %>
        <td><%= g.match %></td>
        <td><%= g.match_time %></td>
        <td><%= g.stadium %></td>
        <td><%= link_to "予想する" %></td>
    </tr>
        
       <% end %>
       
       </tbody>
      </div>
  </table>
</font>