
<%= search_form_for(@q) do |f| %>
  <div
  <div class="cp_ipselect2 cp_sl03" %>
  <%= f.select :game_team_a_eq , options_from_collection_for_select(Game.today,:team_a,:team_a ),include_blank: 'チーム'%>
  </div>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;|
  <div class="cp_ipselect2 cp_sl03" %>
  <%= f.select :game_team_b_eq , options_from_collection_for_select(Game.today,:team_b,:team_b ) ,include_blank: 'チーム'%>
  </div>
  <div class='search'>
    <%= f.submit value: "検索", class: 'cp_button13' %>
    </div>
  </div>
  <% end %>