<h1 class="text-center">ミーティングルーム</h1>
<div id="message-container">
  <%= render @messages %>
</div>
<%= render 'send' %>
<br>
<br>
<div class="text-right">
<%= link_to '試合一覧に戻る',games_path, class: "cp_button13" %>
