/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'toastr';
 @import "bootstrap-sprockets";
 @import "bootstrap";
 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
input {
  display: none;
}
.cp_fullscreenmenu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}
/*menuコンテンツ*/
.cp_fullscreenmenu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(143, 28, 57, 0.63) 0%, rgba(255,177,153,0.7) 100%);
}
.cp_fullscreenmenu .menu label {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: 100%;
}
.cp_fullscreenmenu .menu .menucont {
  font-size: 54px;
  position: relative;
  top: 50%;
  margin-top: -170px;
  padding-bottom: 20px;
  text-align: center;
}
.cp_fullscreenmenu .menu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.cp_fullscreenmenu .menu ul li,
.cp_fullscreenmenu .menu ul li a {
  transition: all 0.3s ease;
}
.cp_fullscreenmenu .menu ul li a {
  display: block;
  padding: 10px 0;
  color: #ffffff;
}
.cp_fullscreenmenu .menu ul li a:hover {
  color: #d10c3ec9;
}
.cp_fullscreenmenu .menu ul li:hover {
  background: #e9d6d6;
}

.cp_fullscreenmenu .menuEffects {
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  opacity: 0;
}
.cp_fullscreenmenu .menuEffects ul {
  transition: all 0.5s;
  transform: translateY(0%);
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects {
  visibility: visible;
  transition: opacity 0.5s;
  opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open {
  background-color: transparent;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  content: '';
  transform: rotate(45deg);
  background-color: #854b4b;
}
.cp_fullscreenmenu #menuToggle:checked ~ .hamburger .open:after {
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  content: '';
  transform: rotate(-45deg);
  background-color: #f06161;
}
.cp_fullscreenmenu #menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

.cp_fullscreenmenu .hamburger {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
}
.cp_fullscreenmenu .hamburger:hover .open:before {
  top: -9px;
}
.cp_fullscreenmenu .hamburger:hover .open:after {
  top: 5px;
}
.cp_fullscreenmenu .open,
.cp_fullscreenmenu .open:before,
.cp_fullscreenmenu .open:after {
  position: relative;
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background-color: #cc4672;
  transition: all 0.3s ease;
}
.cp_fullscreenmenu .open {
  top: 8px;
  cursor: pointer;
}
.cp_fullscreenmenu .open:before {
  top: -8px;
  content: '';
  transform: rotate(0deg);
}
.cp_fullscreenmenu .open:after {
  top: 4px;
  content: '';
}
 *, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contents {
	min-height: 100vh;
	margin: auto;
	padding: 1em 0 10em 0;
	background: rgb(8, 10, 10);
}
footer #button {
	position: relative;
	width: 6em;
	height: 2em;
	margin: 0 auto;
	padding: 0.2em;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
	text-align: center;
	color: #110a0a;
	border-radius: 3px 3px 0px 0px;
	background: #080707;
}
footer #button:hover {
	position: relative;
	width: 10em;
	height: 2em;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}
footer {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 1.5em;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}
footer:hover {
	height: 10em;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}
footer #container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f05e5e;
}
footer #cont {
	margin: 0 auto;
	padding: 1em;
	color: #f56363;
}
footer .copyright {
	float: left;
	width: 50%;
}
footer .copyright p {
	font-size: 0.7em;
	line-height: 2em;
	padding-left: 10%;
	letter-spacing: 1px;
	color: #ffffff;
}




header {
  display: flex;
  width: 100%;
  height: 140px;
  background-color: rgb(10, 4, 4);
  align-items: center;
}
 
.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
@import url(https://reset5.googlecode.com/hg/reset.min.css);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans);

$font-heading: 'Slabo 27px', serif;
$font-body: 'Open Sans', sans-serif;

$white: #fff;
$black: #0e0101;




header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
.bar{
  padding-bottom: 10px;
}

.header-menu4 {
  position: absolute;
  color: #ffffff;
  top: 60px;
  left: 60px;
}
.header-menu1 {
  position: absolute;
  color: #e74d4d;
  top: 60px;
  left: 60px;
}
.header-menu2 {
  position: absolute;
  color: #e74d4d;
  top: 60px;
  left: 250px;
}
.header-menu3 {
  color: #e74d4d;
  position: absolute;
  top: 60px;
  left: 1000px;
}



.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 30px;  /* 5px の値を変更 */
}

.text {
  position: relative;
  top: 100px;
  font-size: 20pt;
  margin-left: 200px;
}
  
body{
  background-color: #000003;
  background-image: url(stadium1.jpg);
  background-color:rgba(12, 5, 5, 0.4);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  }
  body {
    font-family: monospace;
  }
  
  
  .scores {
    text-align : center;
    width      : 880px;
    height     : 10px;
  }
  .mgl-60{
    margin-left : 60px;
}
.mgl-100{
  margin-left : 140px;
}
.logo_image {
  margin-top: 0px;
  left: 20px;
  height     : 150px;
  background-size: 10%;
  width: 40%
  
}

.text1 {
  margin-left: 10px;
  text-align :left;
  font-family: serif;
}
.signup {
  margin-left: 300px;
  font-family: serif;
  margin-bottom: 100px;
}
.inner-text {
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-size: 3rem;
  color: rgb(6, 6, 12)
  
}

.item {
  margin-left: 800px;
}
.top-inner-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-size: 3rem;
  color: rgb(244, 244, 248)
  
}
.items {
  text-align: right;
  margin-top :150px;
  margin-right: 100px;
  font-size: 30px;
 
}
.average1 {
  position: absolute;
  top: 380px;
  left: 570px;
  font-size: 25px;

}
.home_score{
  position: absolute;
  top: 290px;
  left: 500px;
 
 
}
.away_score{
  position: absolute;
  top: 290px;
  left: 700px;
  
  
 
}
.home_team {
  position: absolute;
  top: 280px;
  left: 350px;
  font-size: 30px;
}
.away_team {
  position: absolute;
  top: 280px;
  left: 800px;
  font-size: 30px;
 
}
.bo- {
  position: absolute;
  top: 280px;
  left: 620px;
  font-size: 25px;
 
}
.time {
  position: absolute;
  top: 320px;
  left: 595px;
  font-size: 25px;
}
.yosou {
  position: absolute;
  top: 500px;
  left: 595px;
  font-size: 25px;
}
.pitcher {
  font-size: 18px;
}
.away_pitcher {
  font-size: 18px;
  margin-left: 20px;
}
.average2 {
  position: absolute;
  top: 436px;
  left: 670px;
  font-size: 25px;

}
.yosoubar {
  position: absolute;
  left :50px;
  top :55px;
}
.cp_button09 {
	display: inline-block;
	width: 80px;
	padding: 0.5em;
	line-height: 1.4;
	cursor: pointer;
	user-select: none;
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.3s;
	color: #229b26;
	border: 3px solid #4caf50;
	border-radius: 0.5em;
	background: transparent;
	box-shadow: 3px 0 0 0 #4caf50, 3px 3px 0 0 #4caf50, 0 3px 0 0 #4caf50;
  background: #2e9443;
}
.cp_button09:hover {
	transform: translate(-2px, -2px);
	box-shadow: 5px 0 0 0 #53c757, 5px 5px 0 0 #4caf50, 0 5px 0 0 #4caf50;
	border: 3px solid #4caf50;
	color: #4caf50;
}
.cp_button09:active {
	transition-duration: 0.1s;
	-webkit-transform: translate(4px, 4px);
	transform: translate(4px, 4px);
	color: #4caf50;
	border: 3px solid #4caf50;
	background-color: #4caf50;
	box-shadow: 2px 0 0 0 #4caf50, 2px 2px 0 0 #4caf50, 0 2px 0 0 #4caf50;
}
.ball{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width:100px;
  height:100px;
  border-radius: 50%;
  background-image: url(ball.jpg);
  background-size: 200px;
  background-position: center; 

  opacity:0.6;
  animation: bound-anim 1s infinite;
}

@keyframes bound-anim {
  0%,100% {top: 0;transform: scale(1);}
  30% {top: -60%; transform: scale(0.96,1.04);}
  60% {transform: scale(1);}
  90% {top: 0;transform: scale(1.15,0.9);}
}

.position {
  padding-left: 300px;
  padding-top:50px;
}

.cp_button13 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 120px;
  padding: 0.5em;
  line-height: 1.4;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
  
  border: 0;
  background: #dd5656;
}
.cp_button13:before {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 5%;
  width: 10%;
  height: 10px;
  content: '';
  transition:transform 0.3s,opacity 0.3s;
  pointer-events: none;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(46,125,50, 0.35) 0%, rgba(46,125,50, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(46,125,50, 0.35) 0%, rgba(46,125,50, 0) 80%);
}
.cp_button13:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation: button13 1.5s linear infinite alternate 0.3s;
          animation: button13 1.5s linear infinite alternate 0.3s;
  color: #cbf72f;
}
.cp_button13:hover:before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-animation: button13_shadow 1.5s linear infinite alternate 0.3s;
          animation: button13_shadow 1.5s linear infinite alternate 0.3s;
  opacity: 0.4;
}
.cp_button13:focus {
  color: #f50b0b;
}
@-webkit-keyframes button13 {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@keyframes button13 {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@-webkit-keyframes button13_shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}
@keyframes button13_shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}
a.cp_btn1 {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.3em;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #ec347a;
}
a.cp_btn1:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	top:100%;
	left: 0;
	border-radius: 3px;
	background:#e02c4a;
	transition: .4s;
}
a.cp_btn1:hover:before {
	top: calc(100% - 3px);
}