@import "bootstrap-sprockets";
@import "bootstrap";


div#contents{
  overflow:hidden;
}

body{
  background-color: #000003;
  background-image: url(kaizen4.jpg);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
  }
 

  
  .bound-container{
    position:relative;
    width:100%;
    height:350px;
  }
  
  

  .ball{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-image: url(ball.jpg);
    background-size: 200px;
    background-position: center; 
  
    opacity:0.6;
    animation: bound-anim 1s infinite;
  }
  
  @keyframes bound-anim {
    0%,100% {top: 0;transform: scale(1);}
    30% {top: -60%; transform: scale(0.96,1.04);}
    60% {transform: scale(1);}
    90% {top: 0;transform: scale(1.15,0.9);}
  }

  .login {
    position: absolute;
    left: 150px;
    top: 600px;
  }
  .signup{
    position: absolute;
    left:20px;
    top: 400px;
  }
  .topmypage{
    position: absolute;
    left:290px;
    top:600px;
  }

body {
  font-family: monospace;
}

.cp_button14 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 85px;
  padding: 0.1em;
  line-height: 1.4;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
  
  border: 0;
  background: #343494;
}
.cp_button14:before {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 5%;
  width: 10%;
  height: 10px;
  content: '';
  transition:transform 0.3s,opacity 0.3s;
  pointer-events: none;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(46,125,50, 0.35) 0%, rgba(46,125,50, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(46,125,50, 0.35) 0%, rgba(46,125,50, 0) 80%);
}
.cp_button14:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation: button13 1.5s linear infinite alternate 0.3s;
          animation: button13 1.5s linear infinite alternate 0.3s;
  color: #2e7d32;
}
.cp_button14:hover:before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-animation: button13_shadow 1.5s linear infinite alternate 0.3s;
          animation: button13_shadow 1.5s linear infinite alternate 0.3s;
  opacity: 0.4;
}
.cp_button14:focus {
  color: #2e7d32;
}
@-webkit-keyframes button14 {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@keyframes button14 {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@-webkit-keyframes button14_shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}
@keyframes button14_shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}

a.cp_btn {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #f7a131;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: double 4px #ff9f22;
	border-radius: 50%;
	overflow: hidden;
	transition: .6s;
}
a.cp_btn:hover {
	transform: rotateY(360deg);
}

.cp_button06 {
	position: relative;
	z-index: 1;
	padding: 1.5em;
	width: 160px;
	line-height: 1.4;
	cursor: pointer;
	transition: color .3s cubic-bezier(.02,.01,.47,1),border-color .3s cubic-bezier(.02,.01,.47,1);
	color: #F06292;
	background: transparent;
	overflow: hidden;
	border: 1px solid #F06292;
	border-radius: 100px;
	background: rgb(236, 62, 129);
}
.cp_button06:after, .cp_button06:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	content: '';
	transition: transform 0.15s cubic-bezier(0.02,0.01,0.47,1),opacity 0.15s cubic-bezier(0.02,0.01,0.47,1);
	opacity: 0;
}
.cp_button06:before {
	background: #D81B60;
	-webkit-transform: translate3d(-110%,-10%,0) skewX(-20deg);
	transform: translate3d(-110%,-10%,0) skewX(-20deg);
}
.cp_button06:after {
	-webkit-transform: translate3d(110%,-10%,0) skewX(-20deg);
	transform: translate3d(110%,-10%,0) skewX(-20deg);
	background: #F06292;
}
.cp_button06:hover {
	transition: all 0.5s cubic-bezier(0.02,0.01,0.47,1);
	box-shadow: 0 1px 6px rgba(0,0,0,0.3);
	color: #ffffff;
	background: #E91E63;
	border: 1px solid #F06292;
}
.cp_button06:hover:after, .cp_button06:hover:before {
	transition: transform 0.25s cubic-bezier(0.02,0.01,0.47,1),opacity 0.25s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: translate3d(50%,-10%,0) skewX(-20deg);
	transform: translate3d(50%,-10%,0) skewX(-20deg);
	opacity: 1;
}
.cp_button06:active {
	opacity: 0.5;
	color: #F06292;
}
.cp_button06:focus {
	border: 1px solid #F06292;
	color: #F06292;
}
.cp_button06:focus:hover {
	color: #ec56ae;
	border: 1px solid #F06292;
}

