@import "bootstrap-sprockets";
@import "bootstrap";
@import "reset";


div#contents{
  overflow:hidden;
}

@media only screen and (min-width:1600px) {
  body{
    background-color: #020202;
    background-image: image-url("kaizen5.jpg");
    background-blend-mode:lighten;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
  
.login {
  position: absolute;
  left:700px;
  top :300px;
  font-family: serif;
  color: #fff;
}
.signup{
  text-align: center;
 left: 690px;
 top: 800px;
}
.topmypage{
  position: absolute;
  left: 1500px;
  top: 800px;
}
.topmypage1{
  position: absolute;
  left: 100px;
  margin-top: 80px;

}
}

body{
  background-color: #020202;
  background-image: image-url("kaizen5.jpg");
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

  .bound-container{
    position:relative;
    width:100%;
    height:350px;
  }
  
  
  
  .ball{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-image: url(ball.jpg);
    background-size: 200px;
    background-position: center; 
  
    opacity:0.6;
    animation: bound-anim 1s infinite;
  }
  
  @keyframes bound-anim {
    0%,100% {top: 0;transform: scale(1);}
    30% {top: -60%; transform: scale(0.96,1.04);}
    60% {transform: scale(1);}
    90% {top: 0;transform: scale(1.15,0.9);}
  }
  
    .login {
    position: absolute;
    left: 1000px;
    top :370px;
    font-family: serif;
    color: #fff;
  }
 
  
  .signup {
    position: absolute;
   left: 460px;
   top: 500px;
  }

  .topmypage{
    position: absolute;
    left:1000px;
    top: 520px;
  }


//safari
  ::-webkit-full-page-media, :future, :root  .login {
      position: absolute;
      left:1000px;
      top :380px;
      font-family: serif;
      color: #fff;
    }
    ::-webkit-full-page-media, :future, :root .signup{
      position: absolute;
     left: 440px;
     top: 550px;
    }
    ::-webkit-full-page-media, :future, :root .topmypage{
      position: absolute;
      left: 1000px;
      top: 500px;
    }
  
    @media only screen and (min-width:1800px) {
      body{
        background-color: #020202;
        background-image: image-url("kaizen5.jpg");
        background-blend-mode:lighten;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
      }
      
    .login {
      position: absolute;
      margin-left:500px;
      margin-top :300px;
      font-family: serif;
      color: #fff;
    }
    .signup{
      position: absolute;
     left: 690px;
     top: 800px;
    }
    .topmypage{
      position: absolute;
      left: 1500px;
      top: 800px;
    }
  
      }

body {
  font-family: monospace;
    margin: 0;
    padding: 0;
}


a.cp_btn {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fafafa;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: double 4px #FF5722;
	border-radius: 50%;
	overflow: hidden;
	transition: .6s;
}
a.cp_btn:hover {
	transform: rotateY(360deg);
}
.cp_button15 {
position: relative;
width: 100%;
padding-top: 25.92%;
display: block;
background-size: 100% 100%;
font-family: 'luckiest guy';
font-size: 28px;
margin-bottom: 20px;
text-decoration: none;
color: #333;
}
 

.cp_button15.background-button {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-shadow.png);

  &:after {
    content: attr(title);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/323909/yellow-top.png);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover:after {
    -webkit-transform: translate(2.5%, 10%);
    transform: translate(2.5%, 10%);
    text-shadow: 2px 2px 1px white;
    color: black;
  }
}

.button-wrapper {
  width: 356px;
  display: inline-block;
  margin: 20px;
  &:nth-child(2) {
    -webkit-filter: hue-rotate(288deg);
    filter: hue-rotate(288deg);
  }
}

#footer li span img.profix {
  float: left;
  width: 80px;
  border-radius: 100%;
  margin-right: 13px;
}
#footer {
  font-family: arial;
  font-size: 12px;
  width: 100%;
  position: absolute;
  border-top:1px solid rgba(255,255,255,0.2);
  margin-bottom:0px; left:0;
  box-shadow: 1px 1px 50px #000;
  background-color: #000003;
  height: 30px;
}
#footer ul {
  float: left;
  list-style: none;
  padding: 4px;
}
#footer ul li {
  float: left;
  list-style: none;
}

#footer ul li span {
  position: absolute;
  display: none;
  width: 350px;
  color:#fff;
  text-shadow: 0 0 1px #000;
  border-radius: 8px 8px 0 0;
  padding: 8px;
  float: left;
  bottom: 30px;
  overflow: auto;
  z-index: -1;
}

#footer ul li a {
  color: #e97492;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
#footer ul li a:hover {
  color: rgb(243, 243, 85);  
}
#footer li a.show-content:hover span {
  display: block;
}
#footer span.single-col{
  width: 180px;
}
#footer span.double-col{
  width: 280px;
}

#footer span h1{
  font-size: 15px;
  margin-bottom: 12px;
}
#footer span form#contactform{
  width: 180px;
  margin-bottom: 12px;
}
#footer span form#contactform input, #footer textarea{
  width: 97%;
  padding: 2px 0 2px 2px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #e7e7e1;
}
.footposition {
  margin-bottom: 30%;
}