body {
  background-color: #000003;
  background-image: url(c.jpg);
  background-color:rgba(14, 6, 6, 0.4);
  background-blend-mode:lighten;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
 
.top-inner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: rgb(192, 186, 186)
   
 
}
 
  
